.navbar {
	background-color: #CCFACB;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#navbarNav li:hover {
	background-color: #e8fce8;
}

footer {
	width:; 100%;
	background-color: #f0fff1;
	padding: 1%;
	color: black;
	left: 0;
	bottom: 0;
	position: fixed;
	margin-top: 5em;
}

#superman {
	width: 80%;
	margin-bottom: 5em;
}

#superman h1 {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

#logoTitle {
	font-size: 1.4em;
}